@charset "UTF-8";

/* SBR Tables */

th.sbr-table-ref {
  width: 15%;
}

th.sbr-table-business-name {
  width: 70%;
}

th.sbr-table-postcode {
  width: 15%;
}

.th-content {
  padding-bottom: 0.5rem;
}

.table-link {
  text-decoration: none;
  font-weight: bold;
}
