{% extends "base.html" %}

{% block content %}

    <div>
        <div class="page__container container">

            {{ smallSpacing() }} {{ linkBack(caption="Back", href="/") }}

            {% if ca_user.nickname %}
                {% set user = 'Welcome ' + ca_user.nickname + ', your Shopping list awaits you.' %}
            {% else %}
                {% set user = 'Welcome ' + ca_user.username + ', your Shopping list awaits you.' %}
            {% endif %}

            {{ smallSpacing() }} {{ heading3(user) }}

            <div class="collator-item" style="width:80%;">
                <table class="table" >
                    <thead class="table--head">
                    <tr>
                        <th scope="col" class="table--header--cell">Item Description</th>
                        <th scope="col" class="table--header--cell">Budgeted Cost</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in products %}
                        <tr class="table--row">
                            <td class="table--cell">{{ item.item }}</td>
                            <td class="table--cell">&pound;{{ item.price }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {{ smallSpacing() }} {{ primaryButton(caption="Logout", href="logout") }}
        </div>

    </div>

{% endblock %}