@charset "UTF-8";

.pagination-container {
    padding: 0 0 1rem 0;
}

.pagination {
    display: inline-block;
    padding: 1rem 0;
    /* border-top: solid 1px #CFCFCF;
    border-bottom: solid 1px #CFCFCF; */
    width: 100%;
}

.pagination a {
    float: left;
    padding: 0.6rem 1rem;
    /* text-decoration: underline; */
}

.pagination a.active {
    background-color: #033e58;
    color: white;
    outline: none;
}

.pagination a:focus {
    outline: none;
}

.pagination a:hover:not(.active) {
  background-color: #e4e8eb;
  outline: none;
  color: #033e58;
}

.hide {
  display: none;
}
