
# Simple macros for GOV.UK Button component

{% macro govukButton(caption="", type="normal", href="") %}

    {% if type == "start" %}

        <a href="{{ href }}" role="button" class="govuk-button govuk-button--start">
            {{ caption }}
        </a>

    {% elif type == "disabled" %}

        <button type="submit" disabled="disabled" aria-disabled="true" class="govuk-button govuk-button--disabled">
            {{ caption }}
        </button>

    {% elif type == "normal" %}

        <a href="{{ href }}" role="button" class="govuk-button">
            {{ caption }}
        </a>

    {% endif %}

{% endmacro %}

