
{# Use like:
            {{ primaryButton(caption="Whatever", uri=url_for('oauth_authorise', provider='CA', nextPage='shopping')) }}
        or
            {{ primaryButton(caption="Whatever", href='/shopping') }}
#}

{% macro primaryButton(caption="", uri=None, href=None) %}

    {% call render_button('btn btn--primary', uri, href) %}
        {{ caption }}
    {% endcall %}

{% endmacro %}

{% macro primaryButtonLarge(caption="", uri=None, href=None) %}

    {% call render_button('btn btn--primary btn--lg', uri, href) %}
        {{ caption }}
    {% endcall %}

{% endmacro %}

{% macro secondaryButton(caption="", uri=None, href=None) %}

    {% call render_button('btn btn--secondary btn--border', uri, href) %}
        {{ caption }}
    {% endcall %}

{% endmacro %}

{% macro disabledButton(caption="", uri=None, href=None) %}

    {% call render_button('btn btn--neutral', uri, href) %}
        {{ caption }}
    {% endcall %}

{% endmacro %}

{% macro buttonLink(caption="", uri=None, href=None) %}

    {% call render_button('btn btn--link', uri, href) %}
        {{ caption }}
    {% endcall %}

{% endmacro %}


{% macro render_button (class, uri, href) %}

    {% if uri %}

        <a href="{{ uri }}">
            <button type="submit" class={{ class }}>
                {{ caller() }}
            </button>
        </a>

    {% elif href %}

        <a href="{{ href }}" role="button" class={{ class }}>
            {{ caller() }}
        </a>

    {% endif %}

{% endmacro %}